/* Fondo general con animación */
body, html {
  margin: 0;
  font-family: 'Poppins', sans-serif;
   
  color: #ffffff;
  overflow-x: hidden;
}

/* Contenedor principal */
.home-container {
  padding: 3rem;
  text-align: center;
  position: relative;
}

/* Hero Section */
.hero-section {
  background: rgba(0, 0, 0, 0.7);
  padding: 3rem;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 255, 255, 0.2);
  margin-bottom: 3rem;
  
}

@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(-20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.hero-title {
  font-size: 2.8rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.hero-title span {
  color: #27dc7e;
  text-shadow: 0 0 10px rgba(0, 255, 255, 0.8);
}

.hero-description {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: #d1e8ff;
}

/* Botón CTA mejorado */
.cta-button {
  background: linear-gradient(135deg, #00ff8c, #022851);
  color: #ffffff;
  padding: 1rem 2.5rem;
  border-radius: 30px;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 10px rgba(0, 255, 255, 0.3);
}
/* Fondo de partículas */
canvas {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
}


.cta-button:hover {
  background: #294335;
  transform: scale(1.1);
  box-shadow: 0 6px 15px rgba(5, 75, 75, 0.5);
}

/* Features Section */
.features-section {
  margin-top: 3rem;
}

.features-title {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: #27dc7e;
  text-shadow: 0 0 10px rgba(0, 255, 255, 0.8);
}

/* Grid para los elementos */
.features-grid {
  display: flex;
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap;
}

/* Tarjetas con animación */
.feature-item {
  background: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  border-radius: 15px;
  padding: 2rem;
  box-shadow: 0 4px 10px rgba(0, 255, 255, 0.3);
  text-align: center;
  width: 280px;
  transition: all 0.3s ease-in-out;
  backdrop-filter: blur(10px);
}

.feature-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 20px rgba(0, 255, 255, 0.6);
}

.hero-section {
  transition: all 1s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.hero-section:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 20px rgba(0, 255, 255, 0.6);
  backdrop-filter: blur(10px);
}



/* Íconos de las características */
.feature-icon {
  width: 80px;
  margin-bottom: 1rem;
  filter: drop-shadow(0 0 10px rgba(0, 255, 255, 0.6));
}

/* Animación al entrar a la vista */
@keyframes slideIn {
  from {
      opacity: 0;
      transform: translateY(30px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.feature-item {
  animation: slideIn 1s ease-in-out;
}
