/* Login Container */

.bodyLogin {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #6b6e72, #35435c);
  margin: 0;
  padding: 2rem;
  box-sizing: border-box;
  padding-top: 5rem;
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeIn 1s ease-in-out forwards;
}

/* Animación de Fade In */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Título */
.bodyLogin h1 {
  color: #ffffff;
  font-size: 2rem;
  margin-bottom: 1rem;
  animation: slideIn 1.2s ease-in-out forwards;
}

/* Animación para el título */
@keyframes slideIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Formulario */
.bodyLogin form {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

/* Sombra sutil en hover */
.bodyLogin form:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.5);
}

/* Etiquetas */
.bodyLogin label {
  font-size: 1rem;
  color: #333333;
  margin-bottom: 0.5rem;
  display: block;
}

/* Inputs */
.bodyLogin input {
  width: 100%;
  padding: 0.8rem;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 1rem;
  box-sizing: border-box;
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

/* Efecto en inputs al hacer focus */
.bodyLogin input:focus {
  border-color: #3b7682;
  box-shadow: 0 0 8px rgba(59, 118, 130, 0.5);
  outline: none;
}

/* Botón */
.bodyLogin button {
  background-color: #3b7682;
  color: #ffffff;
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 25px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s ease-in-out, box-shadow 0.3s;
}

/* Efecto hover del botón */
.bodyLogin button:hover {
  background-color: #3b3b40;
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 255, 255, 0.3);
}

/* Mensaje de error o éxito */
.bodyLogin p {
  font-size: 1rem;
  color: #e74c3c;
  margin-bottom: 1rem;
  text-align: center;
}

/* Button */
.login-button {
  background-color: #343a44;
  color: white;
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 25px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.login-button:hover {
  background-color: #eceff2;
  transform: scale(1.05);
}
